* text=auto

.gitattributes text eol=lf
*.md text eol=lf
*.php text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.xml text eol=lf
*.dart text eol=lf
*.kt text eol=lf
*.swift text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.kts text eol=lf
*.lock text eol=lf

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.pptx binary
*.zip binary
*.jar binary
